/*-- bootstrap-pop-up --*/
.modal-header {
    font-size: 2em;
    color:#0a9dbd;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
	font-weight: 600;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #999;
    text-align: left;
	padding:2em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
	color:#212121;
}
.modal-body {
    padding:2em;
}
button.close {
    font-size: 1em;
    color: #212121;
	outline: none;
}

  /*-- //bootstrap-pop-up --*/
/*-- sign-in --*/
.agileits_signin_form input[type="text"],.agileits_signin_form input[type="password"],.agileits_signin_form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 0 0 1em;
    outline: none;
    color: #212121;
    border: 1px solid #bfbfbf;
    letter-spacing: 1px;
    text-align: center;
}
.agileits_signin_form input[type="text"] {
    background: none;
    display: block;
}
.agileits_signin_form input[type="password"] {
    background: none;
    display: block;
}
.agileits_signin_form input[type="text"]::-webkit-input-placeholder,.agileits_signin_form input[type="email"]::-webkit-input-placeholder,.agileits_signin_form input[type="password"]::-webkit-input-placeholder{
	color:#212121; !important;
}
.agileits_signin_form input[type="submit"] {
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    border: none;
    color: #fff;
    background: #212121;
    outline: none;
    font-weight: 600;
    letter-spacing: 3px;
}
.agileits_signin_form input[type="submit"]:hover {
    background:#f62b2b;
}
.agileits_signin_form p{
    font-size: 0.9em;
    color: #212121;
    letter-spacing: 1px;
    padding:2em 0;
}
.agileits_signin_form p a {
    color: #0a9dbd;
	text-decoration:underline;
}
.agileits_signin_form p a:hover{
	color:#212121;
}
.agileinfo_sign{
	font-size:2em;
	color:#f62b2b;
	margin-bottom:1em;
}
.w3agile_social_icons ul li {
    display: inline-block;
	margin-right:1em;
}
.w3agile_social_icons ul li:last-child{
	margin-right:0;
}
.wthree_follow{
	font-size:1.2em;
	color:#212121;
}
.agile_remember_left {
    float: left;
}
.agile_remember_left label,.agileinfo_subscribe label{
    font-size: 14px;
    font-weight: 600;
    color: #212121;
    text-transform: capitalize;
    margin: 0;
}
.agile_remember_right {
    float: right;
}
.checkbox {
    position: relative;
	padding-left:30px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid #5B5B5B;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url(../images/tick.png) no-repeat 0px 0px;
    top: -4px;
    left: 0px;
    width: 18px;
    height: 18px;
    text-align: center;
}
.agile_remember_right a {
    font-size: 14px;
    color:#0a9dbd;
    text-decoration: underline;
}
.agile_remember_right a:hover {
    color: #212121;
}
.agile_remember {
    padding: 1.5em 0;
}
/*-- //sign-in --*/
